{% extends "airticket_booking/base.html" %}
{% block content %}
    <div class="list-group">
        <div class="my-2"><h1>Flights</h1></div>
        {% for flight in flights %}
            <div class="list-group-item">
                <div class="row">
                    <div class="col"><strong>Airline:</strong> {{ flight.airplane.airline_name }}</div>
                    <div class="col"><strong>Flight Number:</strong> {{ flight.flight_num }}</div>
                </div>
                <div class="row">
                    <div class="col"><strong>From:</strong> {{ flight.departure_airport }}</div>
                    <div class="col"><strong>To:</strong> {{ flight.arrival_airport}}</div>
                </div>
                <div class="row">
                    <div class="col"><strong>Departs at:</strong> {{ flight.departure_time }}</div>
                    <div class="col"><strong>Arrives at:</strong> {{ flight.arrival_time }}</div>
                </div>


            </div>
        {% endfor %}
    </div>
{% endblock %}